.popup__exit {
    background-image: url(../../../images/close_icon.png);
    min-width: 32px;
    min-height: 32px;
    position: absolute;
    top: -39px;
    right: -39px;
}

.popup__exit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 894px) {
    .popup__exit {
        min-width: 20px;
        min-height: 20px;
        background-size: contain;
        top: -32px;
        right: 0;
    }
}