.popup__exit {
    background-image: url(../../../images/close_icon.svg);
    background-color: transparent;
    background-size: contain;
    border: none;
    cursor: pointer;
    min-width: 32px;
    min-height: 32px;
    position: relative;
    top: -191px;
    left: 7px;
}

.popup__exit:hover {
    opacity: 0.6;
}

@media screen and (max-width: 894px) {
    .popup__exit {
        min-width: 20px;
        min-height: 20px;
        background-size: contain;
        position: relative;
        top: -187px;
        left: -21px;
       
    }
}